In [1]:
import pandas as pan
import numpy as np
import matplotlib.pyplot as plotter
import seaborn as sns

In [23]:
#creating a bag of word by meself 
def read_file(filepath = "One.txt"):
    try:
        mytext = open(filepath, mode = "r")
        strs = mytext.read()
    except:
        print("try again!")
    return strs.lower().split()

strs = read_file()
strs

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [26]:
strs_two = read_file("Two.txt")
strs_two
unique_strs = {word for word in strs}
unique_strs_two = set(strs_two)
comb_unique_strs = unique_strs.union(unique_strs_two)
vocab = dict()
count = 0
for i in comb_unique_strs:
    vocab[i] = count
    count += 1 
vocab

{'sport': 0,
 'is': 1,
 'popular': 2,
 'story': 3,
 'about': 4,
 'canine': 5,
 'pets': 6,
 'our': 7,
 'water': 8,
 'furry': 9,
 'catching': 10,
 'a': 11,
 'surfing': 12,
 'dogs': 13,
 'fun': 14,
 'are': 15,
 'animals': 16,
 'this': 17,
 'waves': 18}

In [27]:
frequency = [0]*len(vocab)
frequency_twp = [0]*len(vocab)
all_words = [""]*len(vocab)
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [28]:
for word in strs:
    indx = vocab[word]
    frequency[indx] += 1

In [29]:
for word in strs_two:
    indx = vocab[word]
    frequency_twp[indx] += 1

In [31]:
frequency_twp

[1, 3, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 2, 0, 1, 0, 0, 1, 1]

In [32]:
for word in vocab:
    ind = vocab[word]
    all_words[ind] = word

In [36]:
bow = pan.DataFrame(data = [frequency, frequency_twp], columns = all_words)
bow

,sport,is,popular,story,about,canine,pets,our,water,furry,catching,a,surfing,dogs,fun,are,animals,this,waves
0,0,1,0,1,1,1,1,1,0,1,0,1,0,2,0,1,1,1,0
1,1,3,1,1,1,0,0,0,1,0,1,1,2,0,1,0,0,1,1